[submodule "WorkManager_CodeLabExample"]
	path = WorkManager_CodeLabExample
	url = git@github.com:nikhiljainlive/WorkManager_CodeLabExample.git
[submodule "DataBindingExample"]
	path = DataBindingExample
	url = git@github.com:nikhiljainlive/DataBindingExample.git
[submodule "RoomPersistenceLibraryExample_Android"]
	path = RoomPersistenceLibraryExample_Android
	url = https://github.com/nikhiljainlive/RoomPersistenceLibraryExample_Android.git
